<h1>Sign Up</h1>
<%= form_for :user, url: sign_up_path do |f|%>
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |message| %>
        <div><% message %></div>
      <% end %>
    </div>
  <% end %>
  <div class="mb-3"> 
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "steve@apple.com" %>
  </div>

  <p style="color:green"> Make sure your password:
      is alteast 8 characters long,
      has atleast one uppercase letter,
      has atleast one lowercase letter,
      has atleast one number, and
      has atleast one symbol.

  <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
  </div>

  <div class="mb-3">
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>